@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


/*    Sass Template */

@import './include/variabless.scss';
@import './include/nav.scss';
@import './include/intro-board.scss';
@import './include/brands.scss';
@import './include/products.scss';
@import './include/footer.scss';
@import './include/product-carousel.scss';



