*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(0, 0, 0); 
}

.logo{
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    display: flex;
}

.logo-image img{
    max-width: 20%;
    margin: auto;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    margin-bottom: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    min-width: 50%;
    max-width: 70%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(228, 228, 228);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
}

.nav-on a{
    font-size: 19px;
    color:rgb(0, 96, 134);
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px; 
}

nav a:hover {
    font-size: 19px;
    color:rgb(0, 96, 134);
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(252, 247, 247, 0.8);
    margin: 5px;
    transition: all 0.3s ease;
}

/*part1*/


#part1 {
    width: 100%;
    background-color: black;
    min-height: 80vh;
    padding-bottom: 5vw;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
    align-items: center;
}
.introduction {
    flex: 1;
    text-align: center;
}

.me {
    flex: 1;
    text-align: center;
}

.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
    right: 20%;
    text-align: center;
}

.intro-text h1 {
	font-size: 120px;
    font-weight: 500;
    color: rgb(0, 43, 233);
    font-weight: bold;
    text-align: center;
    margin: 3vw;
}
.intro-text p {
	margin-top: 10px;
	font-size: 40px;
    color:white;
    font-weight: bold;
    margin-bottom: 8px;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
    height: 70vh;
    margin: auto;
    text-align: center;
    align-items: center;
}
.cover img {
    height: 100%;
    text-align: center;
}

/*part2*/

.line {
    width: 100%;
    height: 12px;
    background-color: black;
    text-align: center;
    text-align: center;
    display: flex;
}

.line1 {
    width: 90vw;
    height: 3px;
    background-color:white;
    text-align: center;
    margin: auto;
    text-align: center;
    justify-content: center;
}


#part2 {
    width: 100%;
    background-color: black;
    min-height: 80vh;
}

.presentation1 {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 40vh;
    align-items: center;
}
.introduction1 {
    flex: 1;
    text-align: center;
}

.me1 {
    flex: 1;
    text-align: center;
}

.laptop-select1 {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
    right: 20%;
    text-align: center;
}

.intro-text1 h1 {
	font-size: 40px;
    font-weight: 500;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 3vw;
}
.intro-text1 p {
	margin-top: 10px;
	font-size: 40px;
    color:white;
    font-weight: bold;
    margin-bottom: 8px;
}

.cover1 {
	flex: 1;
	display: flex;
	justify-content: center;
    height: 30vh;
    margin: auto;
    text-align: center;
    align-items: center;
}
.cover1 img {
    height: 100%;
    text-align: center;
}

/*part3*/

#part3 {
    width: 100%;
    background-color: black;
    min-height: 80vh;
    padding-bottom: 5vw;
}

.presentation3 {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
    align-items: center;
}
.introduction3 {
    flex: 1;
    text-align: center;
    
}


.laptop-select3 {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
    right: 20%;
    text-align: center;
}

.intro-text3 h1 {
	font-size: 120px;
    font-weight: 500;
    color: rgb(0, 96, 134);
    font-weight: bold;
    text-align: center;
    margin: 3vw;
}

.list {
    max-width: 40vw;
    margin: auto;
}

.intro-text3 li {
	margin-top: 10px;
	font-size: 40px;
    color:white;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
}

.cover3 {
	flex: 1;
	display: flex;
	justify-content: center;
    height: 80vh;
    margin: auto;
    text-align: center;
    align-items: center;
}
.cover3 img {
    height: 100%;
    text-align: center;
}

@media screen and (max-width: 1550px) {
    .intro-text3 h1 {
		font-size: 75px;
    }
    
    .list {
        width: 50vw;
    }
}


@media screen and (max-width: 1235px) {
	.intro-text h1 {
		font-size: 70px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cover img {
        max-height: 80%;
        width: auto;
    }

	.intro-text1 h1 {
		font-size: 25px;
	}
	.intro-text1 p {
		font-size: 18px;
	}
    
	.cover1 img {
        max-height: 80%;
        width: auto;
    }

    .intro-text3 h1 {
		font-size: 63px;
	}
	.intro-text3 li {
		font-size: 35px;
	}
    
	.cover3 img {
        max-height: 80%;
        width: auto;
    }
}

@media screen and (max-width: 824px) {

    .presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 70px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
    }
    
	.cover img {
        max-height: 80%;
        width: auto;
    }

    .presentation1 {
		flex-direction: column;
	}
	.introduction1 {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text1 h1 {
		font-size: 25px;
	}
	.intro-text1 p {
		font-size: 18px;
	}
	.cta1 {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select1 {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
    }
    
	.cover1 img {
        max-height: 80%;
        width: auto;
    }


}

@media screen and (max-width:1000px){
    .presentation3 {
		flex-direction: column;
	}
	.introduction3 {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text3 h1 {
		font-size: 90px;
	}
	.intro-text3 li {
		font-size: 28px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select3 {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
    }
    
	.cover3 img {
        max-height: 90%;
        width: auto;
    }

    .list {
        max-width: 70vw;
    }
}

@media screen and (max-width:970px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 84vh;
        top: 16vh;
        background-color: rgb(0, 96, 134); 
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

@media screen and (max-width:700px){
    .intro-text3 h1 {
		font-size: 70px;
	}
}

@media screen and (max-width:570px){
    body{
        overflow-x: hidden;
    }

    .logo-image {
        display: none;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(0, 96, 134); 
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 75%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        text-align: center;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .logo{
        color: rgb(228, 228, 228);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
        margin-left: 5px;
    }

    .intro-text3 h1 {
		font-size: 50px;
	}
	.intro-text3 li {
		font-size: 23px;
	}
}

.nav-active {
    transform: translateX(0%);
}

@media screen and (max-width:540px){
    .presentation3 {
        height: auto;
        min-height: 40vh;
    }

    #part3 {
        min-height: 40vh;
    }

    .cover3 {
        margin: auto;
        height: auto;
        width: 100%;
    }

    .cover3 img{
        max-width: 90vw;
        margin: auto;
        height: auto;
    }

    .list {
        max-width: 90vw;
    }
}

@media screen and (max-width:400px){

    .presentation {
        height: auto;
        min-height: 40vh;
    }

    #part1 {
        min-height: 40vh;
    }

    .cover {
        margin: auto;
        height: auto;
        width: 100%;
    }

    .cover img{
        max-width: 90vw;
        margin: auto;
        height: auto;
    }

    .presentation1 {
        height: auto;
        min-height: 40vh;
    }

    .line1 {
        width: 90vw;
        height: 1.5px;
        background-color:white;
        text-align: center;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    

    #part2 {
        min-height: 40vh;
    }

    .intro-text1 h1 {
		font-size: 20px;
	}

    .cover1 {
        margin: auto;
        height: auto;
        width: 100%;
    }

    .cover1 img{
        max-width: 90vw;
        margin: auto;
        height: auto;
    }

    .intro-text3 h1 {
		font-size: 40px;
	}
	.intro-text3 li {
		font-size: 20px;
    }

    .list {
        max-width: 95vw;
        min-width: 70vw;
    }

}


@media screen and (max-width:340px){
    body{
        overflow-x: hidden;
    }

    .intro-text h1 {
        font-size: 50px;
        font-weight: 500;
        color: rgb(0, 43, 233);
        font-weight: bold;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(0, 96, 134); 
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        text-align: center;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .logo{
        color: rgb(228, 228, 228);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 16px;
        margin-left: 5px;
        padding: 5px;
    }

    nav a:hover {
        font-size: 16px;
        color:rgb(0, 96, 134);
        background-color: white;
        font-weight: bold;
        border-radius: 0px;
        padding: 2px;
    }
    
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
