*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(0, 0, 0); 
}

.logo{
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    display: flex;
}

.logo-image img{
    max-width: 20%;
    margin: auto;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    margin-bottom: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    min-width: 50%;
    max-width: 70%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(228, 228, 228);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
}

.nav-on a{
    font-size: 19px;
    color:rgb(0, 96, 134);
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px; 
}

nav a:hover {
    font-size: 19px;
    color:rgb(0, 96, 134);
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(252, 247, 247, 0.8);
    margin: 5px;
    transition: all 0.3s ease;
}

#part1 {
    width: 100%;
    background-color: black;
    min-height: 80vh;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
    align-items: center;
}
.introduction {
	flex: 1;
}
.intro-text h1 {
	font-size: 120px;
    font-weight: 500;
    color: rgb(0, 43, 233);
    font-weight: bold;
}
.intro-text p {
	margin-top: 10px;
	font-size: 40px;
    color:white;
    font-weight: bold;
    margin-bottom: 8px;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 70vh;
}
.cover img {
	height: 100%;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}

.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 20%;
}

.h1 {
    font-size:110px;
    color: rgb(38, 199, 240);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.h2 {
    color: white;
    font-size: 40px;
}

.t1 {
    color: white;
    font-size: 25px;
}

#part1-1-1 {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

#part1-1 {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

#part2 {
    background-image: url("img2.jpg");
    background-image: transparent;
    background-size: cover;
    margin:auto;
    width: 100%;
    display: block;
    background-position: center;
}

.part3 {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.slider{
    width: 1000px;
    height: 600px;
    border-radius: 0px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 600px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 1000px;
    height: 600px;
}

/*css for manual slider navigation*/

.navigation-manual{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(68, 166, 247);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background:  rgb(68, 166, 247);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-top: 560px;
}

.navigation-auto div{
    border: 2px solid  rgb(68, 166, 247);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(68, 166, 247);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(68, 166, 247);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background:  rgb(68, 166, 247);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background:  rgb(68, 166, 247);
}

/*part4*/

#part4 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content4 {
    max-width: 800px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15vw;
    margin-bottom: 15vw;
}

.h3 {
    color: white;
    font-size: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#part4 img{
    max-width: 600px;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

/*footer*/

#footer {
    height: 110px;
    width: 100%;
    background-image: url(logo.jpg.png);
    background-size: contain;
    padding-bottom: 55px;
    text-align: center;
}

#footer-image img{
    width: 0;
    height: 0;
}

@media screen and (max-width:1050px){
    .slider{
        width: 90vw;
        border-radius: 0px;
        overflow: hidden;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 1000px;
        height: 75vw;
        overflow: hidden; 
    }

    .slides{
        width: 500%;
        height: 600px;
        display: flex;
    }

    .slide img{
        width: 90vw;
        max-height: 600px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: auto;
        margin-left: 3vw;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .navigation-manual{
        display: none;
    }

    .navigation-auto{
        position: absolute;
        display: flex;
        width: 90vw;
        justify-content: center;
        margin-top: 53vw;
    }
    .part3 {
        margin: 0;
        padding: 0;
        height: auto;
        max-height: 75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:black;
    }

    #part1-1-1 {
        text-align: center;
        max-width: 85vw;
        margin: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 70px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.cover img {
		height: 80%;
    }
}

@media screen and (max-width:970px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 84vh;
        top: 16vh;
        background-color: rgb(0, 96, 134); 
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }

    .content4 {
        width: 90vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }

    .h3 {
        color: white;
        font-size: 25px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin:auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    #part4 img{
        max-width: 90vw;
        display: flex;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 60px;
        height: auto;
    }

    .h1 {
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
}

@media screen and (max-width:570px){
    body{
        overflow-x: hidden;
    }

    .logo-image {
        display: none;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(0, 96, 134); 
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 75%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        text-align: center;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .logo{
        color: rgb(228, 228, 228);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
        margin-left: 5px;
    }

    .h1 {
        font-size:70px;
        color: rgb(38, 199, 240);
        font-weight: bold;
    }
    
    #part1-1-1 {
        text-align: center;
        max-width: 95vw;
        margin: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #footer {
        height: 130px;
        width: 100%;
        padding-bottom: 40px;
        background-color:rgb(0, 0, 0);
        text-align: center;
        margin: auto;
        background-image: none;
        display: block;
    }

    #footer-image img{
        display:flex;
        text-align: center;
        margin: auto;
        min-height: 120px;
        min-width: 120px;
        align-items: center;
        justify-content: center;
    }
}

.nav-active {
    transform: translateX(0%);
}

@media screen and (max-width:340px){
    body{
        overflow-x: hidden;
    }

    .intro-text h1 {
        font-size: 50px;
        font-weight: 500;
        color: rgb(0, 43, 233);
        font-weight: bold;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(0, 96, 134); 
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        text-align: center;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .logo{
        color: rgb(228, 228, 228);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 16px;
        margin-left: 5px;
        padding: 5px;
    }

    nav a:hover {
        font-size: 16px;
        color:rgb(0, 96, 134);
        background-color: white;
        font-weight: bold;
        border-radius: 0px;
        padding: 2px;
    }

    .h1 {
        font-size:40px;
        color: rgb(38, 199, 240);
        font-weight: bold;
    }
    
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
