@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/*    Sass Template */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-weight: 500;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.logo {
  color: black;
  display: flex;
  justify-content: space-around;
  letter-spacing: 5px;
  font-size: 25px;
  margin-bottom: auto;
  margin-top: auto;
}

.logo h4 {
  margin-top: 2vh;
}

.logo-image {
  max-height: 6vh;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  min-width: 50%;
  max-width: 70%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 18px;
}

.nav-on a,
.nav-links a:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
  border: black 1px solid;
  padding: 5px;
  padding-left: 6.5px;
  margin: -6px;
  margin-left: -7.5px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 970px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 20vh;
    top: 8vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    transform: translateY(-59vh);
    transition: transform 0.2s ease-in;
    max-width: 100%;
    padding-bottom: 10px;
  }

  .nav-on a,
.nav-links a:hover {
    border-radius: 5px;
    padding: 2.5px;
    padding-left: 3.5px;
    margin: -3.5px;
    margin-left: -4.5px;
  }

  .nav-links li {
    opacity: 0;
    margin-left: 30px;
  }

  .burger {
    display: block;
  }
}
@media screen and (max-width: 570px) {
  .logo {
    color: #e4e4e4;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    margin-left: 5px;
  }

  .nav-on a,
.nav-links a:hover {
    border-radius: 3px;
    padding: 1.5px;
    padding-left: 2.5px;
    margin: -2.5px;
    margin-left: -3.5px;
  }
}
.nav-active {
  transform: translateX(0%);
}

@media screen and (max-width: 340px) {
  .logo {
    color: #e4e4e4;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* introduction-board*/
#introduction-board {
  height: 75vh;
  display: flex;
  flex-basis: 100vw;
  background-image: url(./assets/2img21.jpg);
  background-size: cover;
  text-align: center;
}

.intro-text {
  margin: auto;
}

.intro-text h1 {
  color: #00A5C4;
  padding: 10px;
  display: inline-block;
  font-size: 80px;
  margin: auto;
  font-weight: 700;
}

.intro-text h4 {
  color: white;
  background-color: black;
  padding: 10px;
  margin-top: 15px;
  font-size: 60px;
  width: 800px;
  margin: auto;
}

@media screen and (max-width: 960px) {
  .intro-text h4 {
    font-size: 40px;
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .intro-text h4 {
    font-size: 30px;
    width: 95%;
  }

  #introduction-board {
    height: 60vh;
  }
}
@media screen and (max-width: 471px) {
  .intro-text h4 {
    width: 390px;
  }
}
@media screen and (max-width: 420px) {
  .intro-text h4 {
    width: 320px;
  }
}
@media screen and (max-width: 405px) {
  .intro-text h4 {
    width: 320px;
  }
}
@media screen and (max-width: 340px) {
  .intro-text h4 {
    width: 90%;
  }

  .intro-text h1 {
    font-size: 60px;
  }
}
/* brands*/
.brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: white;
}

.brand-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.brand-links li {
  list-style: none;
}

.brand-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 20px;
}

.brand-on a,
.brand-links a:hover {
  border-bottom: black 5px solid;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .brand-links {
    width: 60%;
  }
}
@media screen and (max-width: 960px) {
  .brand-links {
    width: 75%;
  }
}
@media screen and (max-width: 735px) {
  .brand-links {
    width: 95%;
  }
}
@media screen and (max-width: 520px) {
  .brand-links a {
    font-size: 14px;
  }

  .brand-on a,
.brand-links a:hover {
    border-bottom: black 2.5px solid;
    font-weight: 600;
  }
}
/*products*/
.products {
  max-width: 1336px;
  margin: auto;
}

.item {
  border: gray 1px solid;
  margin-top: 20px;
  margin-right: 16px;
  display: inline-block;
}

.product-item {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
}

.product a img {
  width: 190px;
  transition: transform 0.2s ease;
}

.product {
  text-align: center;
}

.product a {
  overflow: hidden;
}

.product img:hover {
  transform: scale(1.05);
}

.pro-infos {
  text-align: center;
}

.price {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pro-infos button {
  font-size: 14px;
  padding: 2px 5px 2px 5px;
  color: black;
  border: #00A5C4 1px solid;
  background-color: #00A5C4;
  border-radius: 2px;
}

@media screen and (max-width: 1400px) {
  .products {
    max-width: 1110px;
  }
}
@media screen and (max-width: 1200px) {
  .products {
    max-width: 884.8px;
  }
}
@media screen and (max-width: 960px) {
  .products {
    max-width: 663.6px;
  }
}
@media screen and (max-width: 735px) {
  .products {
    max-width: 442.4px;
  }
}
@media screen and (max-width: 560px) {
  .products {
    width: 360px;
  }

  .item {
    border: gray 0.5px solid;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
  }

  .product-item {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 164px;
  }

  .pro-infos h2 {
    font-size: 20px;
  }

  .product a img {
    width: 150px;
    transition: transform 0.2s ease;
  }

  .product {
    text-align: center;
  }

  .product a {
    overflow: hidden;
  }

  .product img:hover {
    transform: scale(1.05);
  }

  .pro-infos {
    text-align: center;
  }

  .price {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pro-infos button {
    font-size: 12px;
    padding: 1px 2.5px 1px 2.5px;
    color: black;
    border: #00A5C4 0.5px solid;
    border-radius: 2px;
  }
}
@media screen and (max-width: 361px) {
  .products {
    width: 319px;
  }

  .product-item {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 144px;
  }

  .product a img {
    width: 135px;
  }
}
@media screen and (max-width: 319.1px) {
  .products {
    width: 300px;
  }

  .product-item {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 134px;
  }

  .product a img {
    width: 125px;
  }
}
/*footer*/
#footer {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 20px;
  text-align: center;
}

.row {
  margin: auto;
  text-align: left;
  max-width: 1106px;
}

.row h4 {
  font-size: 20px;
}

.row p,
.row a {
  font-size: 14px;
  color: gray;
}

.row a {
  padding-bottom: 5px;
}

.col-220 {
  width: 220px;
  margin: auto;
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.flex-list {
  display: inline-flex;
  flex-flow: wrap;
  flex-direction: column;
}

.copyright {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.copyright p {
  font-size: 14px;
}

.form input {
  outline: none;
  font-size: 14px;
  border: none;
  background-color: white;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
}

.form button {
  font-size: 14px;
  padding: 2px 5px 2px 5px;
  color: black;
  border: #00A5C4 1px solid;
  background-color: #00A5C4;
  border-radius: 2px;
}

.footer-headline {
  color: #00A5C4;
}

@media screen and (max-width: 1200px) {
  .row {
    max-width: 884.8px;
  }

  .col-220 {
    width: 190px;
  }
}
@media screen and (max-width: 960px) {
  .row {
    max-width: 663.6px;
  }

  .col-220 {
    width: 300px;
  }
}
@media screen and (max-width: 735px) {
  .row {
    max-width: 442.4px;
  }

  .col-220 {
    width: 190px;
  }
}
@media screen and (max-width: 520px) {
  .row {
    max-width: 90%;
  }

  .col-220 {
    width: 40%;
  }
}
.product-carousel {
  height: 450px;
  width: 1328px;
  margin: auto;
}

.c-headline {
  display: flex;
}

.c-headline h3 {
  text-align: left;
  margin: auto;
  margin-left: 0;
}

.c-headline h4 {
  text-align: right;
  color: #00A5C4;
  margin: auto;
  margin-right: 0;
}

.owl-item.active {
  margin-right: 20px;
}

.top-selling .product-carousel .owl-carousel .item .product-item .product a img {
  width: 190px;
  transition: transform 0.2s ease;
  margin: auto;
}

.top-selling .owl-carousel .owl-nav button {
  position: absolute;
  top: 20%;
  outline: none;
}
.top-selling .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.top-selling .owl-carousel .owl-nav button.owl-next span,
.top-selling .owl-carousel .owl-nav button.owl-prev span {
  font-size: 35px;
  color: #00A5C4;
  padding: o 1rem;
}
.top-selling .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.top-selling .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
.top-selling .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

.display-none {
  display: none;
}

@media screen and (max-width: 1450px) {
  .product-carousel {
    max-width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .product-carousel {
    max-width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .product-carousel {
    max-width: 90%;
  }

  .top-selling .owl-carousel .owl-nav button {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .top-selling .products {
    width: 319px;
  }
  .top-selling .product-item {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 144px;
  }
  .top-selling .product-carousel .owl-carousel .item .product-item .product a img {
    width: 135px;
  }
  .top-selling .display-none {
    display: none;
  }
}
@media screen and (max-width: 319.1px) {
  .top-selling .product-carousel .owl-carousel .item .product-item .product a img {
    width: 125px;
  }
}

/*# sourceMappingURL=style.css.map */
