/* introduction-board*/
#introduction-board{
    height: 75vh;
    display: flex;
    flex-basis: 100vw;
    background-image: url(./assets/2img21.jpg);
    background-size: cover;
    text-align: center;
}

.intro-text{
    margin: auto;
}

.intro-text h1{
    color: $c1;
    padding: 10px;
    display: inline-block;
    font-size: 80px;
    margin: auto;
    font-weight: 700;
}

.intro-text h4{
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 15px;
    font-size: 60px;
    width: 800px;
    margin: auto;
}

@media screen and (max-width: 960px){
    .intro-text h4{
        font-size: 40px;
        width: 500px;
    }  
}

@media screen and (max-width: 550px){
    .intro-text h4{
        font-size: 30px;
        width: 95%;
    }  

    #introduction-board{
        height: 60vh;
    }
}
@media screen and (max-width: 471px){
    .intro-text h4{
        width: 390px;
    }  
}
@media screen and (max-width: 420px){
    .intro-text h4{
        width: 320px;
    }  
}
@media screen and (max-width: 405px){
    .intro-text h4{
        width: 320px;
    }  
}
@media screen and (max-width: 340px){
    .intro-text h4{
        width: 90%;
    }  

    .intro-text h1{
        font-size: 60px;
    }
}









