*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-weight: 500;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
}

.logo{
    color: black;
    display: flex;
    justify-content: space-around;
    letter-spacing: 5px;
    font-size: 25px;
    margin-bottom: auto;
    margin-top: auto;
}

.logo h4{
    margin-top: 2vh;
}


.logo-image{
    max-height: 6vh;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    min-width: 50%;
    max-width: 70%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 18px;
}

.nav-on a,
.nav-links a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    border: black 1px solid;
    padding: 5px;
    margin: -6px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:970px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white; 
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }

}

@media screen and (max-width:570px){
    body{
        overflow-x: hidden;
    }


    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white; 
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 75%;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
        text-align: center;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .logo{
        color: rgb(228, 228, 228);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
        margin-left: 5px;
    }

}

.nav-active {
    transform: translateX(0%);
}

@media screen and (max-width:340px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white; 
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
        text-align: center;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .logo{
        color: rgb(228, 228, 228);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 16px;
        margin-left: 5px;
        padding: 5px;
    }

    nav a:hover {
        font-size: 16px;
        color:black;
        background-color: white;
        font-weight: bold;
        border-radius: 0px;
        padding: 2px;
    }
 
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



