/*products*/

.products{
    max-width: 1336px;
    margin: auto;
}

.item{
    border: gray 1px solid;
    margin-top: 20px;
    margin-right: 16px;
    display: inline-block;
}

.product-item{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}

.product a img{
    width: 190px;
    transition: transform .2s ease;
}

.product{
    text-align: center;
}

.product a{
    overflow: hidden;
}

.product img:hover{
   transform: scale(1.05);
}

.pro-infos{
    text-align: center;
}

.price{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pro-infos button{
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    color: black;
    border: $c1 1px solid;
    background-color: $c1;
    border-radius: 2px;
}

@media screen and (max-width:1400px){
    .products{
        max-width: 1110px;
    }
    
}
@media screen and (max-width:1200px){
    .products{
        max-width: 884.8px;
    }
    
}
@media screen and (max-width: 960px){
    .products{
        max-width: 663.6px;
    }
    
}
@media screen and (max-width: 735px){
    .products{
        max-width: 442.4px;
    }
    
}
@media screen and (max-width: 560px){
    .products{
        width: 360px;
    }
    .item{
        border: gray 0.5px solid;
        margin-top: 15px;
        margin-right: 5px;
        margin-left: 5px;
        display: inline-block;
    }
    
    .product-item{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 164px;
    }

    .pro-infos h2{
        font-size: 20px;
    }
    
    .product a img{
        width: 150px;
        transition: transform .2s ease;
    }
    
    .product{
        text-align: center;
    }
    
    .product a{
        overflow: hidden;
    }
    
    .product img:hover{
       transform: scale(1.05);
    }
    
    .pro-infos{
        text-align: center;
    }
    
    .price{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .pro-infos button{
        font-size: 12px;
        padding: 1px 2.5px 1px 2.5px;
        color: black;
        border:  $c1 0.5px solid;
        border-radius: 2px;
    }
}
@media screen and (max-width: 361px){
    .products{
        width: 319px;
    }
    
    .product-item{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 144px;
    }

    
    .product a img{
        width: 135px;
    }
}
@media screen and (max-width: 319.1px){
    .products{
        width: 300px;
    }
    
    .product-item{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 134px;
    }

    
    .product a img{
        width: 125px;
    }
}